body {
  font-family: 'Kanit', sans-serif;
  font-family: 'Fraunces', serif;
  width: 100%;
  margin: 0px;
}




/* Typography CSS */

h2 {
  font-size: 60px;
  margin: 0px;
  color: #3e80aa;
}

h3 {
  font-size: 32px;
  font-weight: 400;
  margin: 0px;
  color: #636364;

}

h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
}

h5 {
  font-size: 26px;
  font-weight: 400;
  color: red;
  margin-bottom: 0px;
}

h6 {
  font-family: 'Kanit';
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #636364;
}


p {
  font-size: 16px;
  font-weight: 300;
  margin: 0px;
  color:black;
}


.subHeading {
  text-align: center;
  margin: 60px auto;
}




/* Navigation CSS */

#navBar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  flex-direction: row;
  margin: 0px;
  height: 75px;
  z-index: 2;
  background-color: rgba(255,255,255,0.9);
  align-items: center;
  padding-right: 15px;
  justify-content: space-between;
}

#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  border: red solid;
}

#navigation p {
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  color:red;

}

#navigation a:visited, a:link {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#navigation a:hover {
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  color: #3e80aa;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
  margin-right: 5%;

}

.icons img {
  margin: 15px;
  width: 30px;
  cursor: pointer;
}

.carrot {
  width: 30px;
  cursor: pointer;
}






/* Hero Grid CSS */

#heroGrid {
  margin: 0px;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 75% 25%;
  grid-template-columns: 75% 25%;
  grid-template-areas: 
    "featuredProduct secondaryProduct"
    "featuredProduct CTA";
}

.heroGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
  justify-content: flex-start;
}

#featuredProduct {
  grid-area: featuredProduct;
  background-image: url("https://dorothytoth.github.io/Repo18/images/furniture1.png");
}

#secondaryProduct {
  grid-area: secondaryProduct;
  background-image: url("../images/furniture2.png");
}

#CTA {
  grid-area: CTA;
  background-image: url("../images/woodbg.png");
  justify-content: flex-start;
  cursor: pointer;
  padding: 20px;
}

#CTA img {
  width: 30px;
  padding: 10px;
}

#headline {
  border-radius: 10px;
  border: solid #3e80aa;
  border-width: 0px 0px 0px 10px;
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  right: -75px;
  top: 210px;
  z-index: 1;
  padding: 50px;
}

#headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px;
  color: #636364;
}





/* Category Grid CSS */


#categoryGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: repeat(3, 300px);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  " education education final"
  "garden travel travel"
  "health health food"
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  border-radius: 10px;  
}

#travel {
  grid-area: travel;
  background-image: url("../images/bookcases.png");
}

#final {
  grid-area: final;
  background-image: url("../images/bookcases.png");
}

#education {
  grid-area: education;
  background-image: url("../images/beds.png");
}

#garden {
  grid-area: garden;
  background-image: url("../images/patio.png");
}

#health {
  grid-area: health;
  background-image: url("../images/couch.png");
}

#food {
  grid-area: food;
  background-image: url("../images/desks.png");
}

.heading {
  background-color: rgba(255,255,255,0.9);
  padding: 15px;
  height: 25px;
  font-size: 18px;
}




/* About Section CSS */

#aboutSection {
  margin: 0px 5%;
  display: flex;
  border: solid 2px red;
  height: 50vh;
  min-height: 500px;
  align-items: center;
  justify-content: space-between;
}


#aboutCopy {
  display: flex;
  width: 350px;
  align-items: center;
  margin-left: 5%;
}

#aboutSkill {
  display: flex;
  justify-content: flex-end;
}

#vertScroll {
  background-color:none;
  height: 375px;
  width: 350px;  
  overflow-y:scroll;
 }
 #vertScroll::-webkit-scrollbar {
  display: none;
 }



/* Connect Section CSS */

#connSection {
  margin: 0px 5%;
  display: flex;
  border: solid 2px red;
  height: 50vh;
  min-height: 500px;
}






/* media queries */

@media only screen and (max-width: 800px) {
  #navigation {
    display: none;
  }
  .icons{
    margin-left: auto;
  }
  #headline {
    position: static;
    margin: 20px;
  }
  #heroGrid {
    grid-template-areas: 
    "featuredProduct featuredProduct"
    "secondaryProduct CTA"
  }
  #categoryGrid {
    grid-template-rows: 300px 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "education"
    "final"
    "garden"
    "travel"
    "health"
    "food"
  }
  #aboutSection {
    flex-wrap: wrap;
    height: auto;
  }
  #aboutSkill {
    margin-left: 5%;
  }
  #connSection {
    flex-wrap: wrap;
    height: auto;
  }
}
