#about-page {
  background-color: #ffffff80;
  padding: 150px 0 100px 0;
}

.about-page-content {
  margin: 0px 5%;
}

.intro-text {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 40px;
  //line-height: 1.6;
}

#about-intro {
  display: flex;
  margin: 40px 0;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 1150px) {
    flex-wrap: wrap;
    display: block;
    height: auto;
  }
}

.aboutBox {
  background-image: url("/images/pencils.jpeg");
  background-position:right;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:rgba(255, 255, 255, 0.5);
  height: 500px;
  width: 500px;
  border-radius: 10px;
  position: relative;
  @media only screen and (max-width: 800px) {
    height: 300px;
    width: 300px;
  }
  @media only screen and (max-width: 600px) {
    height: auto;
    width: 200px;
    position: relative;
  }
}

#about-copy {
  display: flex;
  width: 320px;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  position: absolute;
  left: 73%;
  top: 60px;
  background-color: rgba(255,255,255,0.9);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  transition: 0.3s;
  @media only screen and (max-width: 800px) {
    top: 50px;
  }
  @media only screen and (max-width: 600px) {
    width: 200px;
    left: 10%;
    top: 240px;
  }
}

#aboutSkill {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  transition: 0.3s;
  @media only screen and (max-width: 1150px) {
    margin-top: 70px;
  }
}

#scroll-header {
  color: #367095;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}

#vert-scroll {
  height: 375px;
  width: 350px;  
  overflow-y:scroll;
  @media only screen and (max-width: 1150px) {
    width: 100%;
  }
}
#vert-scroll::-webkit-scrollbar {
  display: none;
}

#aboutGrid {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "user content project toolbox";
  grid-gap: 50px;
  margin: 80px 0;
  transition: 0.3s;
  @media only screen and (max-width: 1150px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "user content"
    "project toolbox";
  }
  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "user"
    "content"
    "project"
    "toolbox";
  }
}

#quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  height: auto;
  margin-bottom: 100px;
}

.blockquote {
  font-size: 44px;
  font-weight: 400;
  color: #367095;
}

.author {
  font-size: 32px;
  font-style: italic;
  font-weight: 300;
  color: #367095;
  margin-right: 50px;
  margin-top: 20px;
}

@media only screen and (max-width: 800px) {

  #quote {
    margin-bottom: 50px;
    margin-bottom: 100px;
  }
}