.buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 0px 16px;
  border: none;
  border-radius: 10px;
  width: fit-content;
  max-height: fit-content;
  transition: 0.3s;
  h6 {
    color: white;
    font-size: 16px;
  }
}

.pri {
    background-color: #367095;
    &:hover {
      background-color: #3670957c;
    }
}

.sec {
    background-color: #636364;
    &:hover {
      background-color: #6363647c;
    }
}

.tert {
    background-color: transparent;
    color: #636364;
    h6 {
      color: #636364;
    }
    //border: 1px solid #63636452;
    &:hover {
      background-color: white;
    }
}