.case-studies-homepage {
    margin: 0 auto;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
    grid-template-areas: 
        "featured"
        "secondary-1"
        "secondary-2";
    @media only screen and (min-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "featured featured"
            "secondary-1 secondary-2"
    }
}

.case-study-card {
    display: grid;
    align-content: flex-start;
    &.case-study-card-location-featured {
        grid-area: featured;
    }

    &.case-study-card-location-secondary-1 {
        grid-area: secondary-1;
    }
    &.case-study-card-location-secondary-2 {
        grid-area: secondary-2;
    }
    a:visited,
    a:link {
        cursor: pointer;
        text-decoration: none;
    }
    .img-container {
        overflow: hidden;
        border-radius: 10px;
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 400px;
        transition: 0.3s;
        margin-bottom: -10px;
        &:hover {
           transform: scale(1.02);
        }
        @media only screen and (min-width: 800px) {
            height: 500px;
        }
    }
    h5 {
        margin-block-start: 0.85em;
        margin-block-end: 0em;
    }
}