
#footerSection {
  margin: 0 5%;
  margin-top: 70px;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @media only screen and (max-width: 800px) {
      display: block;
  }
}

#footerCopy {
  display: flex;
  flex-direction: column;
}

#links {
  text-align: right;
  transition: 0.3s;
  @media only screen and (max-width: 800px) {
      margin-top: 50px;
      text-align: left;
  }
}

#links a:visited, a:link {
  cursor: pointer;
  text-decoration: none;
  color: #636364;
}

#links h5:hover {
  cursor: pointer;
  color: #367095;
  transition: 0.3s;
}

.footer-external-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 20px;

    .footer-external-link {
        border-radius: 50%;
        background: #747475;
        height: 1.8rem;
        line-height: 2rem;
        transition: 0.3s;

        svg {
            color: white;
            width: 30px;
            fill: currentColor;
        }

        &:hover {
            background: #367095;
        }

    }
}