#headline {
  border-radius: 10px;
  background-color: rgba(255,255,255,0.9);
  position: absolute;
  left: 7%;
  top: 150px;
  z-index: 1;
  padding: 50px;
  box-shadow: 0px 0px 10px rgba(99,99,99,0.1);
  transition: 0.3s;
  backdrop-filter: blur(3px);
}

#headline p {
  max-width: 375px;
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
  color: #636364;
}

#heroGrid {
  margin: 0px;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 85% 15%;
  grid-template-columns: 70% 30%;
  grid-template-areas: 
    "featuredProduct secondaryProduct"
    "CTA CTA";
}

.hero-grid-area {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
  justify-content: flex-start;
  transition: 0.3s;
}

#featuredProduct {
  grid-area: featuredProduct;
  background-color: #a3a8bf;
}

video {
  mix-blend-mode: multiply;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#secondaryProduct {
  grid-area: secondaryProduct;
  background-image: url("/images/screens.jpg");
  background-color: #3670959b;
  background-blend-mode: multiply;
}

#CTA {
  grid-area: CTA;
  padding-left: 5%;
  height: 100px;
  background-image: linear-gradient(70deg, #367095, #a3a8bf);
  justify-content: flex-start;
  cursor: pointer;
}

.CTAlink {
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 28px;
  font-weight: 400;
  svg {
    height: 16px;
  }
}

.CTAlink:hover {
  opacity: .7;
}

#CTA img {
  width: 30px;
  padding: 10px;
}
