html {
  scroll-padding-top: 100px;
}

body {
  font-family: 'Kanit', sans-serif;
  font-family: 'Fraunces', serif;
  width: 100%;
  margin: 0px;
  background-color: #ebebeb;
  scroll-behavior: smooth
}

.section-start {
  margin: 50px 5%;
  margin-top: 150px;
}