#project-page {
  background-color: #ffffff80;
  padding: 130px 0 100px 0;
  b {
    font-weight: 500;
  }
}

.proj-heading {
  margin: 0 auto 30px auto;
  width: 60%;
  min-width: 1000px;
  h1 {
    margin-top: 15px;
  }
  @media only screen and (max-width: 1120px) {
    width: 90%;
    min-width: auto;
    h1 {
      font-size: 48px;
    }
  }
}

.proj-author {
  margin: 0 auto 40px auto;
  width: 60%;
  min-width: 1000px;
  display: flex;
  gap: 50px;
    @media only screen and (max-width: 1120px) {
    width: 90%;
    min-width: auto;
    flex-direction: column;
    gap: 10px;
  }
  p {
    margin-bottom: 2px;
    b {
      font-weight: 600;
    }
  }
  a {
  text-decoration: underline;
  text-decoration-thickness: .5px;
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: .5px;
    opacity: 60%;
  }
  &:visited {
    color: black;
  }
}

}

.proj-overview {
  background-color: #ebebeb;
  margin: -84px auto 80px auto;
  padding: 80px 0;
  h3 {
    color: #367095;
  }
  .text-wrapper {
    margin: 0 auto;
    width: 60%;
    min-width: 1000px;
    display: flex;
    gap: 60px;
    div {
      width: 50%;
      }
    @media only screen and (max-width: 1120px) {
      flex-direction: column;
      min-width: auto;
      width: 90%;
      gap: 10px;
      div {
        width: 100%;
        }
      }
  }
  .buttons // more styling in buttons.scss
  {
    margin-top: 40px;
  }
}

.proj-margin {
  margin: auto;
  width: 60%;
  min-width: 1000px;
  margin-bottom: 80px;
  h3 {
    margin-top: 80px;
  }
  @media only screen and (max-width: 1120px) {
    width: 90%;
    min-width: auto;
  }
}

figure {
  // transition: 0.3s;
  margin: 15px 0px;
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 5px;
  }
}
figcaption {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}

.proj-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.proj-image-full {
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}

.text-slide {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 80px;
  .text {
    margin-top: 25px;
    width: 40%;
  }
  figure {
    width: 60%;
  }
  @media only screen and (max-width: 1120px) {
    flex-direction: column;
    gap: 0px;
    .text {
      margin-bottom: -10px;
      width: 100%;
    }
    figure {
      width: 100%;
    }
  }
}

.proj-impact {
  background-color: #ebebeb;
  padding: 80px 0;
  margin: 0 auto 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .text-wrapper {
    width: 60%;
    min-width: 1000px;
    h5 {
    font-size: 36px;
    font-weight: 600;
    }
    h3 {
    color: #367095;
    }
  }
  @media only screen and (max-width: 1120px) {
    .text-wrapper {
      width: 90%;
      min-width: auto;
    }

  }
}

.proj-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  min-width: 1000px;
  margin: auto;
  @media only screen and (max-width: 1120px) {
    width: 90%;
    min-width: auto;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.proj-nav-right {
  justify-content: end;
}
.proj-nav-left, .proj-nav-right {
  display: flex;
  align-items: center;
  flex: 1 0 50%;
  gap: 10px;
  color: #636364;
  transition: 0.2s;
  font-size: 22px;
  &:hover {
    color: #367095;
  }
  a:visited {
    color: #636364;
  }
}

.legal {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #636364;
}
