
#project-Listing {
    //display: block;
    //align-items: center;
    //justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 150px 0;
}

.proj-list-content {
  margin: 0 15%;
  transition: 0.3s;
}