
#project-Listing {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 150px 0;
}

.proj-list-content {
    margin: 0 5%;
    transition: 0.3s;
}

.proj-card-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 50px;
    transition: 0.3s;
}

.proj-card {
    width: 300px;
    aspect-ratio: 4 / 3;
    background-color: silver;
    border-radius: 10px;
    transition: 0.3s;

    img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        transition: 0.3s;

        //&:hover {
            //transform: scale(1.02);
        //}
    }
    &:hover {
        transform: scale(1.02);
    }

}
