#project-page {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 150px 0 150px 0;
}

.proj-margin {
  margin: 0 15% 0 15%;
  transition: 0.3s;
  @media only screen and (max-width: 1000px) {
      margin: 0 5% 0 5%;
  }
}