#project-page {
  background-color: #ffffff80;
  padding: 130px 0 100px 0;
}

.proj-heading {
  margin: 0 15% 30px 15%;
  transition: 0.3s;
  h1 {
    margin-top: 15px;
  }
  @media only screen and (max-width: 1000px) {
    margin: 0 5% 30px 5%;
    h1 {
      font-size: 48px;
    }
  }
}

.proj-author {
  margin: 0 15% 40px 15%;
  display: flex;
  justify-content:space-between;
  transition: 0.3s;
    @media only screen and (max-width: 1000px) {
    margin: 0 5% 40px 5%;
    flex-direction: column;
    gap: 10px;
  }
  p {
    margin-bottom: 2px;
    //color: #636364;
    b {
      font-weight: 600;
    }
  }
}

.proj-overview {
  max-width: 100%;
  background-color: #ebebeb;
  padding: 80px 15%;
  margin: -84px 0 80px 0;
  transition: 0.3s;
  @media only screen and (max-width: 1000px) {
    padding: 80px 5%;
  }
  
  .text-wrapper {
    display: flex;
    gap: 60px;
    transition: 0.3s;
    div {
      flex-grow: 1;
      }
    @media only screen and (max-width: 1000px) {
      flex-direction: column;
      gap: 10px;
      }
  }

  .buttons // more styling in buttons.scss
  {
    margin-top: 40px;
  }
}

.proj-margin {
  margin: 0 15% 80px 15%;
  transition: 0.3s;
  @media only screen and (max-width: 1000px) {
    margin: 0 5% 80px 5%;
  }
}

.proj-image {
  object-fit: cover;
  width: 100%;
  height: auto;
  transition: 0.3s;
  border-radius: 10px;
  margin: 15px 0px;
}

.proj-image-full {
  width: 100%;
  height: auto;
  margin: 0 0 80px 0;
}

.proj-impact {
  max-width: 100%;
  background-color: #367095;
  padding: 80px 15%;
  margin: 0 0 80px 0;
  transition: 0.3s;
  @media only screen and (max-width: 1000px) {
    padding: 80px 5%;
  }
}

.impact-text {
  color:white;
  font-size: 24px;
}

.proj-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 15%;
  transition: 0.3s;
  @media only screen and (max-width: 1000px) {
    margin: 0 5%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.proj-nav-right {
  justify-content: end;
}
.proj-nav-left, .proj-nav-right {
  display: flex;
  align-items: center;
  flex: 1 0 50%;
  gap: 10px;
  color: #636364;
  transition: 0.2s;
  font-size: 22px;
  &:hover {
    color: #367095;
  }
  a:visited {
    color: #636364;
  }
}